backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
bleach==1.5.0
boto3==1.17.8
botocore==1.20.8
certifi==2019.11.28
cffi==1.14.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.3.0
cycler==0.10.0
Cython==0.29.13
decorator==4.4.2
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
html5lib==0.9999999
idna==2.10
jmespath==0.10.0
joblib==0.14.1
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.4
mock==3.0.5
networkx==2.2
nltk==3.4.5
numpy==1.16.5
olefile==0.46
opencv-python==4.2.0.32
pandas==0.24.2
Pillow==6.2.1
protobuf==3.12.2
ptflops==0.6.4
pycocotools==2.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.0.3
regex==2020.11.13
requests==2.25.1
s3transfer==0.3.4
sacremoses==0.0.43
scikit-image==0.14.5
scipy==1.2.3
singledispatch==3.4.0.3
six==1.15.0
subprocess32==3.5.4
tensorboard-logger==0.1.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
torch==0.4.1.post2
torchvision==0.2.0
tqdm==4.56.2
urllib3==1.26.3
Werkzeug==1.0.1
